---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import Pain from '../components/sections/Pain.astro';
import Features from '../components/sections/Features.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import Pricing from '../components/sections/Pricing.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Pain />
    <Features />
    <HowItWorks />
    <Pricing />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
